<div ng-controller="navbarController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <font class="navbar-brand">E-Commerce App.</font>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li ng-hide="(showAdminFunctions && showMerchantFunctions)"><a href="/landingPage" ui-sref="landingPage">Home</a></li> -->
                    <li class="dropdown" ng-hide="(showAdminFunctions||showMerchantFunctions)"><a href="#" data-toggle="dropdown" data-submenu="" aria-expanded="false">Categories<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/landingPage" ui-sref="landingPage">All</a>
                                <li ng-repeat="category in navbar.categories">
                                    <a href="#" ng-click="navbar.showProductsAsPerCategory(category._id)">{{category.name}}</a></li>
                        </ul>
                        </li>
                        <li class="dropdown" ng-show="showMerchantFunctions"><a href="#" data-toggle="dropdown" data-submenu="" aria-expanded="false">Merchant<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a>Merchant Actions</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Products','viewMerchantProducts')">View My Products</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Products','addMerchantProducts')">Add Products</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Products','deleteMerchantProducts')">Delete Products</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Categories','addCategories')" title="Add categories in application">Add Categories</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Categories','viewCategories')" title="View categories in application">View Categories</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Categories','updateCategories')" title="Edit categories in application">Edit Categories</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Categories','deleteCategories')" title="Delete categories in application">Delete Categories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" ng-show="showMerchantFunctions">
                            <a data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a>Policies</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Policies','addPolicies')" title="Add more policies to application">Add Policy</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Policies','viewPolicies')" title="View existing policies in application">View Policies</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Policies','updatePolicies')" title="Update existing policies in application">Update Policies</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Policies','deletePolicies')" title="Delete any of the existing policies in application">Delete Policies</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Admin. Users</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','AdminUser','addAdminUsers')" title="Add more admin. users to application">Add Admin. User</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','AdminUser','viewAdminUsers')" title="View existing admin. users in application">View Admin. Users</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','AdminUser','deleteAdminUsers')" title="View existing admin. users in application">Delete Admin. Users</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Customers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Customers','viewCustomers')" title="Add more admin. users to application">View Customers</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Customers','deleteCustomers')" title="Delete Customers">Delete Customers</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Orders</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Orders','viewAllOrders')" title="Views orders in the application">View Orders</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Orders','deleteOrders')" title="Delete orders">Delete Orders</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Merchants</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Merchants','viewMerchants')" title="View merchant users in application">View Merchants</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Merchants','deleteMerchant')" title="Delete Customers">Delete Merchants</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" ng-show="showAdminFunctions">
                            <a data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a>Policies</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Policies','addPolicies')" title="Add more policies to application">Add Policy</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Policies','viewPolicies')" title="View existing policies in application">View Policies</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Policies','updatePolicies')" title="Update existing policies in application">Update Policies</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Policies','deletePolicies')" title="Delete any of the existing policies in application">Delete Policies</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Admin. Users</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','AdminUser','addAdminUsers')" title="Add more admin. users to application">Add Admin. User</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','AdminUser','viewAdminUsers')" title="View existing admin. users in application">View Admin. Users</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','AdminUser','deleteAdminUsers')" title="View existing admin. users in application">Delete Admin. Users</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Customers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Customers','viewCustomers')" title="Add more admin. users to application">View Customers</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Customers','deleteCustomers')" title="Delete Customers">Delete Customers</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Orders</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Orders','viewAllOrders')" title="Views orders in the application">View Orders</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Orders','deleteOrders')" title="Delete orders">Delete Orders</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Merchants</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Merchants','viewMerchants')" title="View merchant users in application">View Merchants</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Merchants','deleteMerchant')" title="Delete Customers">Delete Merchants</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Categories</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Categories','addCategories')" title="Add categories in application">Add Categories</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Categories','viewCategories')" title="View categories in application">View Categories</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Categories','updateCategories')" title="Edit categories in application">Edit Categories</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isDelete','Categories','deleteCategories')" title="Delete categories in application">Delete Categories</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a>Products</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="navbar.checkPolicy('isWrite','Products','addProducts')" title="Add more products to application">Add Products</a></li>
                                        <li><a href="#" ng-click="navbar.checkPolicy('isRead','Products','landingPage')" title="View existing diffrent products in application">View Products</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                </ul>
                <div ng-include="'views/common/login.html'"></div>
            </div>
        </div>
    </nav>
</div>
