<div class="panel panel-default">
    <div class="panel-heading">Products</div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="product in products.data1">
                <div class="col-md-4">
                    <a href="#" ng-click="products.productDetails(product._id)"><img src="productImages/{{product.image}}" class="img-thumbnail" width="150px" height="150px" /></a>
                    <table class="table table-condensed">
                        <tr>
                            <td>
                                <h6><b>Name</b>:{{product.productName}}</h6></td>
                        </tr>
                        <tr>
                            <td>
                                <h6><b>Description</b>:{{product.productDescription}}</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div ng-repeat="product in products.data2">
                <div class="col-md-4">
                    <a href="#" ng-click="products.productDetails(product._id)"><img src="productImages/{{product.image}}" class="img-thumbnail" width="150px" height="150px"  /></a>
                    <table class="table table-condensed">
                        <tr>
                            <td>
                                <h6><b>Name</b>:{{product.productName}}</h6></td>
                        </tr>
                        <tr>
                            <td>
                                <h6><b>Description</b>:{{product.productDescription}}</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div ng-repeat="product in products.data3">
                <div class="col-md-4">
                    <a href="#" ng-click="products.productDetails(product._id)"><img src="productImages/{{product.image}}" class="img-thumbnail" width="150px" height="150px"  /></a>
                    <table class="table table-condensed">
                        <tr>
                            <td>
                                <h6><b>Name</b>:{{product.productName}}</h6></td>
                        </tr>
                        <tr>
                            <td>
                                <h6><b>Description</b>:{{product.productDescription}}</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div ng-repeat="product in products.data4">
                <div class="col-md-4">
                    <a href="#" ng-click="products.productDetails(product._id)"><img src="productImages/{{product.image}}" class="img-thumbnail" width="150px" height="150px"  /></a>
                    <table class="table table-condensed">
                        <tr>
                            <td>
                                <h6><b>Name</b>:{{product.productName}}</h6></td>
                        </tr>
                        <tr>
                            <td>
                                <h6><b>Description</b>:{{product.productDescription}}</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <nav aria-label="">
            <ul class="pager">
                <li class="previous"><a href="#" ng-click="products.olderPage()"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next"><a href="#" ng-click="products.nextPage()">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
</div>
