<div class="panel panel-default">
    <div class="panel-heading">Orders</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Order Id</th>
                <th>Name</th>
                <th>Orders</th>
            </tr>
            <tr ng-repeat="order in deleteOrders.orders">
                <td>{{order._id}}</td>
                <td>{{order.name}}</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteOrders.delete(order._id)"></span></td>
            </tr>
        </table>
    </div>
</div>

