<div class="panel panel-default">
    <div class="panel-heading">Customers</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="user in deleteCustomers.users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteCustomers.delete(user._id)"></span></td>
            </tr>
        </table>
    </div>
</div>
