<div class="panel panel-default">
    <div class="panel-heading">Add a Category</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <form ng-submit="addCategories.create()">
                        <label>Category Name</label>
                        <input type="text" class="form-control" placeholder="Enter Category Name" aria-describedby="basic-addon1" ng-model="addCategories.categoryName" required>
                        <hr/>
                        <button type="submit" class="btn-sm btn-success">Submit</button>
                        <button type="reset" class="btn-sm btn-danger">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
